@use "../mixin"as m;

#bg-animation-light {
    z-index: -10;
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
}

#bg-animation-dark {
    z-index: -10;
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
}

.a-TextWave {
    .js-show {
        opacity: 1;
        animation-name: wave;
        animation-duration: .4s;
        animation-direction: alternate;
        animation-iteration-count: 2;

        &:nth-of-type(1) {
            color: #FF4848;
        }

        @for $i from 2 through 10 {
            &:nth-of-type(#{$i}) {
                animation-delay: .1s * ($i - 1);
            }
        }
    }
}

.skill {
    .skill_openButton {
        transform: rotateZ(45deg);
        transition: all .4s ease;
    }

    .js-skill_openButton {
        transform: rotateZ(225deg);
        transition: all .4s ease;
    }

    .skill_slide {
        height: 0;
        transform: translateY(-800px);
        transition: all .6s ease;
    }

    .js-skill_slide {
        transform: translateY(0);
        padding-bottom: 800px;
        transition: all .6s ease;

        @include m.breakpoint(hd) {
            padding-bottom: 1000px;
        }

        @include m.breakpoint(tab) {
            //padding-bottom: 1000px;
        }

        @include m.breakpoint(sp) {
            padding-bottom: 750px;
        }
    }
}

.headerNav {
    .js-headerMenu {
        @include m.breakpoint(sp) {
            transform: translateX(0);
            transition: transform .5s ease;
        }
    }

    .js-hamburgerBtn {
        @include m.breakpoint(sp) {
            span{
                transition: transform .5s ease;
                &:nth-of-type(1) {
                    transform: rotateZ(45deg);
                }
    
                &:nth-of-type(2) {
                    transform: rotateZ(-45deg);
                }
            }
        }
    }

    .js-ContactMenu {
        height: 300px;
        opacity: 1;
        border-width: 2px;
        border-style: solid;
        border-color: #191919;
        transition: all .3s ease;

        li {
            width: 50%;
            height: 35px;
            text-align: center;
            border-bottom: 2px solid #191919;
        }
    }
}