@use "../variables"as v;

.js-ChangeColor-body {
    background: var(--darkMode-Color-Reverse);
    color: var(--darkMode-Color);
}



.self {
    .js-ChangeColor-self_overview {
        dt {
            border-bottom: 2px solid var(--darkMode-Color);
            border-left: 2px solid var(--darkMode-Color);
        }

        dd {
            border-bottom: 2px solid var(--darkMode-Color);
            border-left: 2px solid var(--darkMode-Color);
        }
    }
}



.skill {
    .js-ChangeColor-skill_openButton {
        border-right: 6px solid var(--lightMode-Color-Reverse);
        border-bottom: 6px solid var(--lightMode-Color-Reverse);
    }
}



footer {
    ul {
        background: var(--lightMode-Color-Reverse);

        li {
            color: var(--darkMode-Color-Reverse);

            a {
                &:link {
                    color: var(--darkMode-Color-Reverse);
                }
            }
        }
    }
}